body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#goat-logo img {
  width: 400px;
  height: 400px;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@font-face {
  font-family: 'adrip1';
  src: url('../fonts/adrip1.ttf') format('truetype');
}


#splattergoat {
  color: green;
  font-family: 'adrip1', sans-serif;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 100;
}

#splattergoat:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
